@import "../../../assets/scss/base";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .selector-folders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -90px;
    cursor: pointer;

    &:hover .selector-folders__icon {
      transform: scale(0.95);
    }

    .selector-folders__icon {
      width: 162px;
      height: 146px;
      transition: transform 200ms ease;
      transform: scale(1);
      @include backgroundImage(url('../../../assets/images/icons/folder.svg'));
    }

    .selector-folders__text {
      max-width: 400px;
      font-size: 20px;
      line-height: 1.8;
      text-align: center;
      margin-top: 25px;
    }

    .selector-folders__limit {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      max-width: max-content;
      padding: 4px 8px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
    }
  }
}
