@import "../../../assets/scss/base";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .main-process {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -90px;

    .main-process__icon {
      width: 100px;
      height: 100px;
      @include backgroundImage(url('../../../assets/images/loading.svg'));
      border: 1px solid white;
      border-radius: 5px;
    }

    .main-process__text {
      max-width: 300px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin-top: 25px;
    }

    .main-process__progress {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 0;
      transition: opacity 500ms ease, transform 500ms ease;
      transform: translateY(80px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      pointer-events: none;
      opacity: 0;

      &.shown {
        transform: translateY(40px);
        height: 30px;
        opacity: 1;
        pointer-events: auto;
      }

      .main-process__progress__container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: max-content max-content;
      }

      .main-process__progress__fill {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 5px;
        background-color: #215a47;
        border-radius: 5px;
        z-index: -1;
      }

      .main-process__progress__label {
        font-size: 16px;
        color: #4EDFAE;

        &.timings {
          color: #F1B457;
        }
      }
    }

    .main-process__status {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      max-width: max-content;
      padding: 4px 8px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
    }
  }
}
