@import "../../../assets/scss/base";

:host {
  display: flex;
  flex-grow: 1;

  .match-images {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: max-content max-content;

    .match-images__options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: max-content;
      padding: 0 20px;

      .match-images__options__option {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 14px;
        min-width: 200px;
        background-color: #202020;
        box-sizing: border-box;
        border-radius: 8px;

        &:hover {
          background-color: #222222;
        }

        &.active {
          color: black;
          background-color: #4EDFAE;
        }
      }
    }

    .match-images__items {
      display: grid;
      position: relative;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 200px);
      padding: 0 20px 20px;

      .match-images__item__back {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: max-content max-content;
        min-height: 150px;
        justify-items: center;
        justify-content: center;
        align-content: center;
        background-color: #202020;
        border-radius: 10px;
        cursor: pointer;

        .match-images__item__back__icon {
          width: 45px;
          height: 45px;
          @include backgroundImage(url('../../../assets/images/icons/folder-fill.svg'))
        }

        .match-images__item__back__label {
          max-width: 100px;
          font-size: 14px;
          line-height: 1.6;
          text-align: center;
        }
      }

      .match-images__item__preview {
        display: grid;
        grid-template-rows: max-content max-content;
        transition: border 500ms ease;
        background-color: #202020;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;

        &.opened {
          position: relative;
          z-index: 2;

          .match-images__item__preview__footer__detail {
            transform: rotate(180deg) !important;
          }
        }

        .match-images__item__preview__original {
          width: 100%;
          height: 120px;
          object-fit: cover;
          object-position: center;
        }

        .match-images__item__preview__footer {
          display: grid;
          grid-gap: 8px;
          grid-template-columns: max-content 1fr;
          padding: 0 12px;
          align-items: center;
          min-height: 30px;
          max-height: 30px;

          .match-images__item__preview__footer__detail {
            width: 15px;
            height: 11px;
            transform: rotate(0);
            transition: transform 500ms ease;
            @include backgroundImage(url('../../../assets/images/icons/arrow-stroke.svg'));
          }

          .match-images__item__preview__footer__matches {
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }

      .match-images__item__detail {
        display: grid;
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        padding: 0;
        grid-gap: 30px;
        background-color: #202020;
        box-shadow: 0 0 250px 100px rgba(78, 223, 174, 0.5);
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        z-index: 1;

        &.opened {
          padding: 30px;
          height: unset;
          transform: translateY(20px);
          pointer-events: auto;
          opacity: 1;
        }

        .match-images__item__detail__directory {
          display: grid;
          grid-gap: 15px;
          grid-template-rows: max-content max-content;

          .match-images__item__detail__directory__path {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: max-content 1fr;
            align-items: center;
            font-size: 16px;

            &:before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              @include backgroundImage(url('../../../assets/images/icons/folder-fill.svg'))
            }
          }

          .match-images__item__detail__directory__items {
            display: grid;
            position: relative;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 267px);

            .match-images__item__detail__directory__items__image {
              display: flex;
              position: relative;
              justify-content: center;
              width: 100%;
              height: 200px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
              border-radius: 10px;

              &:hover .match-images__item__detail__directory__items__image__button {
                opacity: 1;
                pointer-events: auto;
                bottom: -10px;
              }

              .match-images__item__detail__directory__items__image__button {
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                padding: 3px 6px;
                bottom: 10px;
                color: black;
                font-size: 14px;
                transition: bottom 200ms ease, opacity 200ms ease;
                background-color: #4EDFAE;
                border-radius: 5px;
                pointer-events: none;
                opacity: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
